[Unit]
Description=Set up display layout using xrandr
After=graphical-session.target

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/xrandr --output HDMI-2 --auto --output DP-2 --mode 2560x1440 --rate 240

[Install]
WantedBy=default.target
