[user]
	name = Sixten Nordegren
	email = sixten.nordegren@gmail.com
[core]
	editor = nvim
	pager = ""
[init]
	defaultBranch = main
[diff]
    tool = nvim_difftool
[difftool "nvim_difftool"]
    cmd = nvim -d "\"$LOCAL\" \"$REMOTE\""
